body {
  margin:0px;
  background-image:url('../../images/login/bg.jpg');
  background-position:right top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-origin:border-box;
  position:relative;
  left:-2106px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
   z-index:-1;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
 position:absolute;
  left:400px;
	top:-100px;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:281px;
  background:inherit;
  background-color:rgba(0, 128, 128, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:2106px;
  top:395px;
  width:480px;
  height:281px;
  display:flex;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 128, 128, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2128px;
  top:477px;
  width:328px;
  height:18px;
  display:flex;
  text-align:left;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.447058823529412);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2177px;
  top:504px;
  width:108px;
  height:31px;
  display:flex;
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.447058823529412);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2177px;
  top:567px;
  width:108px;
  height:31px;
  display:flex;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.447058823529412);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2117px;
  top:423px;
  width:458px;
  height:31px;
  display:flex;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(2, 167, 240, 0.447058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:2303px;
  top:629px;
  width:120px;
  height:26px;
  display:flex;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u35_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:2303px;
  top:504px;
  width:153px;
  height:31px;
  display:flex;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35.disabled {
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u36_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2303px;
  top:567px;
  width:153px;
  height:31px;
  display:flex;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36.disabled {
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ו';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline ;
  color:#00FFFF;
  text-align:left;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:2434px;
  top:609px;
  width:99px;
  height:15px;
  display:flex;
  font-family:'ו';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline ;
  color:#00FFFF;
  text-align:left;
}
#u37 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
